



div.flex-container {
    display: flex;
    align-content: center;
    margin-left: 30%;
}
.rev{
    text-align: center;
    align-items: flex-start;
}
.big {
  font-size: 200px;
  font-weight: bold;
  line-height: 1;
}
.small {
  flex-direction: column;
  font-size: 30px;
  line-height: 1.1;
  margin-top: 4px;
}

.reviewBox {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content:space-evenly;
  max-width:min-content;
  gap:2%;
}
.review-image {
  border-radius: 24px;
  max-width:fit-content;
}
.reviewText {
  border-radius: 24px;
  width:1000px;
  padding: 2%;
  background-color: white;
}

.ratings {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left:20px;
}
.bar {
  height: 28px;
  width:100%;
  background: #929292;
  border-radius: 6px;
  overflow: hidden;
}
.fill {
  height: 100%;
  background: rgb(116, 198, 157);;
}
.w80 { width: 50%; }
.w20 { width: 40%; }
.w12 { width: 12%; }
.w3  { width: 3%; }
.w8  { width: 2%; }



