body{
    background-color: #CCCCCC;
    font-family:'Courier New', Courier, monospace;
    font-size: 14pt;
}
div.flex-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 10px;
    gap: 5px;
    max-width: 100%;
}
.reviews{
    border-radius: 4px;
    width:400px;
    max-width: 100%;
    background-color: white;
    margin:auto;
    padding:2px;
    box-shadow: 20px 20px 50px 2px #10301d;
}
.reviews span{
    font-size: 25px;
}
.rev{
    display: flex;
    align-items: flex-start;
}
.big {
  font-size: 120px;
  font-weight: bold;
  line-height: 1;
  margin-right: 6px;
}
.small {
  display: flex;
  flex-direction: column;
  font-size: 48px;
  line-height: 1.1;
  margin-top: 4px;
}

.ratings {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left:20px;
}

.bar {
  height: 28px;
  width:100%;
  background: #838383;
  border-radius: 6px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background: #1fb25c;
}

.w80 { width: 80%; }
.w20 { width: 20%; }
.w12 { width: 12%; }
.w3  { width: 3%; }
.w8  { width: 8%; }


